@import url(http://fonts.googleapis.com/css?family=Marck+Script);
body {
  font-family: helvetica;
}
.cover-photo {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  background: url(waterfall.jpg);
  background-size: cover;
  box-shadow: inset -10px 0 40px rgba(0,0,0,0.6);
}
.page {
  margin-left: 40%;
  padding: 20px 60px;
  max-width: 550px;
}
.logo-container {
  max-width: 400px;
  margin-top: 40px;
}
.logo {
  width: 100%;
  margin-bottom: 20px;
}
.tagline {
  color: rgba(116,149,92, 0.5);
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
}
.contact {
  margin: 40px 0px;
  background: rgba(116,149,92, 0.2);
  border-radius: 5px;
  padding: 20px;
}
.contact h2 {
  margin-top: 0;
}
.contact h2 small {
  font-weight: normal;
  font-size: 14px;
  font-style: italic;
  display: block;
  margin-top: 6px;
}
.contact dd {
  margin-bottom: 10px;
  font-size: 14px;
}
.contact dt {
  font-weight: bold;
  float: left;
  width: 60px;
  font-size: 14px;
}
.services {
  padding: 0;
}
.services li {
  display: inline-block;
  background: rgba(116,149,92, 0.2);
  padding: 5px 10px;
  border-radius: 3px;
  color: rgba(116,149,92, 1);
  margin-bottom: 4px;
}

a {
  color: #59813B;
}

#map-canvas {
  height: 300px;
  max-width: 550px;
}

/* Mobile */
@media (max-width: 1060px) {
  .cover-photo {
    display: none;
  }
  .page {
    margin: 0 auto;
    padding: 20px;
  }
}